<!--navbar -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Luna Connect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<!--end of navbar -->
<div class="container-fluid p-5">
  <div class="container">
    <div class="d-flex flex-row justify-content-end my-5">
      <div class="form-group mr-3">
      <select class="form-control" aria-label="Default select example" (change)="changeyear($event)">
        <option selected>Select Year</option>
        <option *ngFor="let y of yearsFilterData" value="{{y}}">{{y}}</option>
      </select>
      </div>
      <div class="form-group ">
      <select class="form-control" aria-label="Default select example" (change)="changemonth($event)">
        <option selected >Select Month</option>
        <option *ngFor="let m of allMonths; let i = index" value="{{i + 1}}">{{m}}</option>
      </select>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title text-muted">Total Count</h6>
            <h1 class="card-subtitle mb-2  text-primary">{{totalTransCount}}</h1>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title text-muted">Total Debit</h6>
            <h1 class="card-subtitle mb-2  text-primary">{{totalDebitCount}}</h1>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title text-muted">Total Debit Value</h6>
            <h1 class="card-subtitle mb-2  text-primary">{{totalDebit | currency: '€'}}</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- chart -->
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>
  <!-- chart ends-->
  </div>
</div>
<router-outlet></router-outlet>